#hold {
  width: 978px;
  margin: 0 auto;
}


body {
    background: white url("images/back.png") no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heading{
   font-family: 'Goldman', cursive;
    color: brown;
}
.bg{
  border-radius: 50px;

  /* Control the height of the image */
  min-height: 700px;
    background-image: url("images/back2.jpeg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

input{
        font-size: 20px;
}

input[type=text],input[type=email],input[type=number],input[type=range]{
   width: 80%;
  padding: 15px;
  margin: 15px 0 22px 0;
  border-radius: 2px;
     border-width: thick;
     border-color: brown;
    color: white;
 background-color: transparent;
}
input[type=text]:focus, input[type=password]:focus,input[type=number]:focus,input[type=email]:focus{
  background-color: black;
  outline: none;
}

input[type=radio]{

}


.container {
  position: absolute;
    width: 50%;
  padding: 16px;
    background-image: url("images/bf.jpg");
  margin-top: 10px;
    margin-left: 20%;
}

.name{
        font-size: 30px;
    color: white;
    font-weight: bold;
}
.n{
       text-transform: capitalize;
    color: gainsboro;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    width: 60%;
    background-color: transparent;
    border-radius: 10px;
     border-color: brown;

}

.btn {
 background-color: white;
  color: black;
    font-size: 20px;
    font-weight: bold;
  padding: 16px 20px;
    border-radius: 25px;
    border-width: thick;
    border-color: white;
  cursor: pointer;
  width: 40%;
  opacity: 0.8;
}
.dep{
    display: flex;
}
.rad{
    position: relative;
  background-color: #eee;
}

 .footer {
  text-align: center;
  padding: 20px;
    background-color: black;
     width: 100%;
     bottom:0;
     position: absolute;
}

.disp_below{
    font-family: 'Goldman', cursive;
    font-size: 20px;
    display: block;
    text-align: start;
}
.disp_below a{
    display: block;
  padding: 8px;
    color: white;
}
#para2{
    color: white;
font-family: "Times New Roman", Times, serif;
}

 ::placeholder{
     color: gainsboro;
     font-weight: bolder;
     font-family: "Times New Roman", Times, serif;

 }
 .op{
     background-color: black;
     color: white;
     font-weight: bold;
 }

