#hold {
  width: 978px;
  margin: 0 auto;
}


body {
    background: white url("images/back.png") no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#para2{
font-family: "Times New Roman", Times, serif;
    color: white;
}
.para_head{
    font-family: 'Goldman', cursive;
    color: brown;
    padding: 0;
    margin: 0;
}
.para{
    font-family: 'Rancho', cursive;
    font-size: xx-large;
}
#logout{
    position: absolute;
    font-family: 'Goldman', cursive;
top: 8px;
right: 16px;
font-size:18px;
    display: block;
}
#logout a{
    color: black;
    font-weight: bolder;
}

#container{
    width: 100vw;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
}
.disp{
    margin-left: 16px;
    margin-bottom: 16px;
    color: white;
    font-size: 20px;
    font-family: 'Goldman', cursive;
    font-weight: bold;
  text-align: center;
  padding: 16px;
    background-color: black;
  text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
}
.disp a{
    display: block;
  padding: 8px;
    color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


.footer {
    background-color: black;
  text-align: center;
  padding: 20px;
}
.ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: brown;
 }
.disp_below{
    font-family: 'Goldman', cursive;
    font-size: 20px;
    display: block;
    text-align: start;
}
.disp_below a{
    display: block;
  padding: 8px;
    color: white;
}
.cont{
    padding: 16px;
    position: relative;
    flex-direction: row-reverse;
}

.card {
  width: 20%;
    position: relative;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px;
     margin: 2%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }

.title{
  text-align: center;
  padding: 10px;
 }



/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.txtcont{
    position: relative;
}

  .carousel-wrapper{
  height:800px;
  position:relative;
  width:80%;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow
      {
        background-size: 10px;
        background-position: 10px 50%;
      }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('images/3.jpg');
  background-size:cover;
    border: 10px solid white;
    border-radius: 10px;
  }
.item-2{
  background:url('images/12.jpg');
   background-size:cover;
      border: 10px solid white;
    border-radius: 10px;
}
.item-3{
  background:url('images/2.jpg');
   background-size:cover;
      border: 10px solid white;
    border-radius: 10px;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3
{
    z-index: 3;
    opacity: 1;
  }
.in{
    position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 80%; /* Full width */
  padding: 20px; /* Some padding */
}

