<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> About Us | Libmanager</title>
        <style>
            #head1 {
                font-size: 48px;
                color: darkblue;
                font-family: "Times New Roman", Times, serif;

            }

            .head2 {
                font-size: 32px;
                color: darkblue;
                font-family: "Lucida Console", Courier, monospace;

            }

            .size {
                font-size: large;

            }
        </style>
    </head>

    <body>

        <div style="background-image: url('https://source.unsplash.com/1200x500/?library');
  background-size: cover; height:480px; padding-top:80px;">
        </div>
        <p>
        <h1 id="head1">
            XYZ Library, (estd : 1953)
        </h1>
        <h2 class="head2">
            Origins: Drive to Educate
        </h2>
        <p class="size">
            First Five Year Plan, 1951–1956

            The first plan provision was Rs. (rupees) 140 million (US$29.5 million at that time) [1] for social
            education, physical education, and youth welfare, out of the total budget for education of Rs. 1.33 billion
            (US$280 million). Libraries were considered to be part of social education. Rs. 5 million (US$1.05 million)
            was set aside for establishment of the national central library, but this sum was not used.

            Improvement of library services was mentioned in this plan for educational development. The essence of the
            scheme was to establish district libraries in each state, which were to be supplemented by a state central
            library. The government of India also initiated a scheme, “Integrated Library Service,” with the support of
            the state government. The scheme targeted units in every area selected by the governments for intensive
            educational development. The experimental project was meant to monitor the impact of a number of educational
            institutions in areas covering 100 villages. Each area was to have five model community centers, plus a main
            library with branches to distribute books to 20 villages. This pilot project was implemented in 29 areas in
            the country. Nine states made plans to open state central libraries, and some others were in the process of
            setting up district libraries in about 100 districts. This cost approximately Rs. 10 million (US$2.1
            million), of which nearly two–thirds was contributed by the government of India. Thus, libraries were
            considered to be an essential part of the Community Development Program that was launched during the first
            plan period [Naidu, 1990].
        </p>
        <p class="size">

            This Library was ambitious dream of our founders , who sought to enlighten the common minds about
            the contemporary developments in all fields and acted as a voice for upcoming writers and poets in late
            1950s.
            Rapid developments in the past has allowed us to expand our horizons over boundaries, and today we have a
            wide vairety of books and journals.
        </p>
        <h2 class="head2">
            Keep Reading, Keep rising
        </h2>
        <p class="size">
            Update yourself on the latest academic research around the world. Explore our comprehensive collections,
            whatever your field, we have the top resources for you.
        </p>
        <h2 class="head2">
            Collection
        </h2>
        <p class="size">
            There are over 2.5 million items in our collection, including:
        <ul>
            <li> 1.5 million physical items </li>
            <li>1 million electronic items </li>
        </ul>
        </p>
        <p class="size">
            New resources are added to the collection daily to ensure students have access to the latest quality
            resources for teaching, research and study.
            We are also proud to maintain a number of special collections of national and international significance.
            Go to Library Search or find resources to start exploring.

        </p>
    </body>

</html>