<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add Book | Libmanager</title>
</head>
<body>
    <div>
        <h3>Add Book</h3>
    </div>
    <div>
        <form method="POST" action="/addbook">
            {% csrf_token %}
            
            <div>
                Book id : <input type="number" name="book_id" id="">
            </div>
            <div>
                Book Name : <input type="text" name="book_name">
            </div>
            <div>
                Author : <input type="text" name="author">
            </div>
            <div>
                Published Year : <input type="number" name="published_year" id="">
            </div> 
            <div>
                Category : <input type="text" name="category" id="">
            </div>
            <div>
                Language : <input type="text" name="language" id="">
            </div>
            <div>
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </div>
        </form>
    </div>


    
</body>
</html>