<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contact Us | Libmanager</title>
    <style>

    #name{
        font-size: 48px;
        color: darkblue;
        font-family: "Times New Roman", Times, serif;
    }

    .name2{
        font-size: 30px;
        color: darkblue;
    }
    .size{
            font-size: large;
        }

    </style>
</head>
<body>

  <div style="background-image: url('https://source.unsplash.com/1200x500/?library');
  background-size: cover; height:480px; padding-top:80px;">
  </div>

<p class="size">
   Note: Business hours for offices are from Monday to Friday 9.00am - 5.00pm

   <h1 id="name">
    General Enquiries
</h1>
    <h2 class="name2">
        Email
    </h2>
    XYZLib@gmail.com

    <h2 class="name2">
        Telephone
    </h2>

    Telephone: +91 3 009905 5054

   <h2 class="name2">
       Postal address:
   </h2>

    abc place


  <h2 class="name2">
      Library managers
  </h2>
    <ul class="size">
        <li>azad (azad.manager@gmail.com)   </li>
        <li>Anil.S.K (anil.manager@gmail.com)   </li>
        <li> Kumar (kumar.manager@gmail.com)  </li>
        <li> Harish (harish.manager@gmail.com)  </li>
        <li> Ravi Kumar (ravi.manager@gmail.com)  </li>
        <li> Seema sharma (seema.manager@gmail.com)  </li>
    </ul>


</body>
</html>