<!doctype html>


<html lang="en">
    <style>
        .center {
            text-align: center;
        }

        .head1 {
            font-family: "Times New Roman", Times, serif;
            color: darkblue;
        }

        .head2 {
            font-family: 'JetBrains Mono', cursive;
            font-size: xx-large;
        }

        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
        }
    </style>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Homepage | LibManager</title>
        </heady>

    <body>
        <div class="center">

            <h1 class="head1"> LibManager </h1>
            <h2 class="head1"> The Library Management System</h2>
            <img src="https://source.unsplash.com/800x300/?library" alt="Some problem in loading image">
            <!-- <img src="https://source.unsplash.com/800x300/?library" alt="Some problem in loading image">
            <img src="https://source.unsplash.com/800x300/?library" alt="Some problem in loading image"> -->
        </div>

        <div class="topright">
            <a href="/logout"> Logout yourself</a>
        </div>
        <div class="head2">
            <a href="/addbook"> Add Book</a>
        </div>
        <div class="head2">
            <a href="/requestbook"> Request Book</a>
        </div>
        <div class="head2">
            <a href="/about"> About Us</a>
        </div>
        <div class="head2">
            <a href="/contact"> Contact US</a>
        </div>




    </body>

</html>