<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About Us | Libmanager</title>
    {% load static %}
    <!-- ICON-->
        <link rel="shortcut icon" type="image/png" href="{% static 'libmanager/images/logo.ico' %}"/>
        <link rel="stylesheet" href="{% static 'libmanager/Aboutus.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
 <div id="hold">
     <h1 id="head1">
     RedStone Library <span class="pr">,(estd : 1953)</span>
</h1>

   <div class="container">
  <img src="{% static 'libmanager/images/addstu.jpg' %}" style="width:100%; border-radius: 20px" >
  <div class="content">
    <h1 style="font-size: 40px">Libraries are not only a place for obtaining knowledge but are a living testimony of a fast paced developing nation and its thirst for Knowledge.</h1>
    <p style="font-size: 20px">-founder</p>
  </div>
</div>
<p>

    <h2 class="head2">
    Origins: Drive to Educate
</h2>
<p class="pr">
    First Five Year Plan, 1951–1956<br>
    Libraries were considered to be part of social education. Rs. 5 million (US$1.05 million) was set aside for establishment of the national central library, but this sum was not used.

Improvement of library services was mentioned in this plan for educational development.The government of India also initiated a scheme, “Integrated Library Service,” with the support of the state government. The scheme targeted units in every area selected by the governments for intensive educational development. The experimental project was meant to monitor the impact of a number of educational institutions in areas covering 100 villages.  Thus, libraries were considered to be an essential part of the Community Development Program that was launched during the first plan period [Naidu, 1990].
</p>
<p class="pr">

    This Library was ambitious dream of our founders , who sought to enlighten the common minds about
    the contemporary developments in all fields and acted as a voice for upcoming writers and poets in late 1950s.
    Rapid developments in the past has allowed us to expand our horizons over boundaries, and today we have a wide vairety of books and journals.
</p>
    <h2 class="head2">
    Keep Reading, Keep rising
</h2>
<p class="pr">
    Update yourself on the latest academic research around the world. Explore our comprehensive collections,
    whatever your field, we have the top resources for you.
</p>
<h2 class="head2">
  Collection
</h2>
<p class="pr">
There are over 2.5 million items in our collection, including:
    <ul>
<li class="pr"> 1.5 million physical items </li>
<li class="pr">1 million electronic items </li>
</ul>
</p>
  <p class="pr">
New resources are added to the collection daily to ensure students have access to the latest quality resources for teaching, research and study.
We are also proud to maintain a number of special collections of national and international significance.
Go to Library Search or find resources to start exploring.

</p>
   <div class="footer">
            <div>
                 <h3 id="para2"> (c) RedStone library | Learn, Discover, Create, Connect. </h3>
                    <p id="para2"> All rights reserved </p>
            </div>


        </div>


 </div>
</body>
</html>