<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Student | LibManager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {% load static %}
        <!-- ICON-->
        <link rel="shortcut icon" type="image/png" href="{% static 'libmanager/images/logo.ico' %}"/>
        <link rel="stylesheet" href="{% static 'libmanager/addstudent.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <!-- below one for all para textx --font-family: 'Smythe', cursive;-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- this one for addbook attributes -- font-family: 'Kameron', serif;-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Smythe&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">

    </head>

    <body>

       <div id="hold">
            <div>
            <h1><span class="heading">Resgtritration Corner</span>   (Authorized personnel only) </h1>
            <h2 style="font-weight: lighter;font-size: 20px"> <span style="font-weight: bold">Note:</span> The students must ensure that they collect their Library Card within a week after registeration.</h2>
        </div>
        {% for message in messages  %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade in show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endfor %}

        <div class="bg">
            <form method="POST" action="/addstudent"  class="container" >
                {% csrf_token %}

                <div class="name">
                    <input type="text" name="student_name" placeholder="NAME OF THE STUDENT">
                </div>
                <div class="name">
                     <input type="number" name="roll_number" placeholder="ROLL NUMBER">
                </div>
                <div class="name">
                    Branch : <select name="branch" class="n">
                        <option class="op" value="">Select branch</option>
                        <option class="op" value="Ceramic Engineering">Ceramic Engineering</option>
                        <option  class="op" value="Chemical Engineering">Chemical Engineering</option>
                        <option  class="op" value="Civil Engineering">Civil Engineering</option>
                        <option class="op" value="Computer Science and Engineering">Computer Science and Engineering</option>
                        <option class="op" value="Electrical Engineering">Electrical Engineering</option>
                        <option class="op" value="Electronics Engineering">Electronics Engineering</option>
                        <option class="op" value="Mechanical Engineering">Mechanical Engineering</option>
                        <option class="op" value="Metallurgical Engineering">Metallurgical Engineering</option>
                        <option class="op" value="Mining Engineering">Mining Engineering</option>
                        <option class="op" value="Pharmaceutical Engineering">Pharmaceutical Engineering</option>
                    </select>
                </div>
                <div class="name">
                    Year : <select name="year" class="n">
                        <option  class="op">Select year</option>
                        <option class="op" value="1st">1st Year</option>
                        <option class="op" value="2nd">2nd Year</option>
                        <option class="op" value="3rd">3rd Year</option>
                        <option class="op" value="4th">4th Year</option>
                        <option class="op" value="5th">5th Year</option>
                    </select>
                </div>
                <div class="name">
                    Gender : <input type="radio" name="gender" value="Male" class="rad">Male
                    <input type="radio" name="gender" value="Female">Female
                    <input type="radio" name="gender" value="Other">Other
                </div>
                <div class="name">
                    <input type="email" name="email" placeholder="EMAIL">
                </div>
                <div class="dep">
                    <input type="submit" value="Submit" class="btn">
                    <input type="reset" value="Reset" class="btn">
                </div>
            </form>
        </div>
        </div>

    </div>
          <div class="footer">
            <div>
                 <h3 id="para2"> (c) RedStone library | Learn, Discover, Create, Connect. </h3>
                    <p id="para2"> All rights reserved </p>
            </div>


        </div>



       </div>
    </body>
</html>