<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contact Us | Libmanager</title>
    {% load static %}
    <!-- ICON-->
        <link rel="shortcut icon" type="image/png" href="{% static 'libmanager/images/logo.ico' %}"/>
        <link rel="stylesheet" href="{% static 'libmanager/contactus.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <!-- below one for all para textx --font-family: 'Smythe', cursive;-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Smythe&display=swap" rel="stylesheet">
</head>
<body>
<div id="hold">
    <p class="size">
    <span style="font-weight: bold" >Note</span>: Business hours for offices are from Monday to Friday 9.00am - 5.00pm
</p>


  <div class="container">
  <img src="https://source.unsplash.com/1200x720/?library" style="width:100%;" >
  <div class="content">
    <h1 style="font-size: 40px">We are here for you</h1>
    <p>Make the most of your time spent with the books</p>
  </div>
</div>



<p class="size">


   <h1 id="name">
    General Enquiries
</h1>
    <h2 class="name2">
        Email
    </h2>
    <p class="parag">
        LibManager@gmail.com
    </p>


    <h2 class="name2">
        Telephone
    </h2>
    <p class="parag">
        Telephone: +91 3 009905 5054<br>
        <span style="font-weight: bold">Emergency</span> Phone: 3365 3333
    </p>


   <h2 class="name2">
       Postal address:
   </h2>
    <p class="parag">
        Level 6, Duhig Tower<br>
The University of Kingsland<br>
Briddle QLD 4072<br>
Australia
    </p>




  <h2 class="name2">
      Library managers
  </h2>
    <ul class="size">
        <li class="parag">azad (azad.manager@gmail.com)   </li>
        <li class="parag">Anil.S.K (anil.manager@gmail.com)   </li>
        <li class="parag"> Kumar (kumar.manager@gmail.com)  </li>
        <li class="parag"> Harish (harish.manager@gmail.com)  </li>
        <li class="parag"> Ravi Kumar (ravi.manager@gmail.com)  </li>
        <li class="parag"> Seema sharma (seema.manager@gmail.com)  </li>
    </ul>

<div class="footer">
            <div>
                 <h3 id="para2"> (c) RedStone library | Learn, Discover, Create, Connect. </h3>
                    <p id="para2"> All rights reserved </p>
            </div>


        </div>


</div>

</body>
</html>
<!-- REMINDER < VISIT https://www.w3schools.com/howto/howto_css_image_transparent.asp