
<!doctype html>


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Homepage | LibManager</title>
        {% load static %}
        <!-- ICON-->
        <link rel="shortcut icon" type="image/png" href="{% static 'libmanager/images/logo.ico' %}"/>
        <link rel="stylesheet" href="{% static 'libmanager/homepage.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            #head{
                text-align: center;
                font-family: 'Diplomata SC', cursive;
                color: brown;
                font-size: 75px;
            }
            #spc{
    font-family: 'Dancing Script', cursive;
                text-align: center;
}
        </style>
    </head>

    <body>
    <div >
        <h1 id="spc"> Welcome to <span id="head">RedStone Library</span></h1>
          <!--  <h2> Library Management System</h2> OPTIONAL-->
            <!--<img src="https://source.unsplash.com/1200x720/?library" alt="Some problem in loading image" >-->

        <div id="logout">
            <a href="/logout"> logout </a>
        </div>
            <nav class="disp">
                <a href="/addbook">Add book</a>
                <a href="/addstudent">Add Student</a>
                <a href="/requestbook">Request book</a>
                 <a href="/borrowbook">Borrow book</a>
                 <a href="/returnbook">Return book</a>

            </nav>

    <div class="carousel-wrapper">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
  <div class="carousel-item item-1">
      <div class="in">
           <h2 style="font-weight: bold;color: white;">We have got your back</h2>
    <p style="font-weight: bold;color: white">We have over 2.5 million books with rich genre for you.All you need is a receptive mind and the zeal to read!</p>
      </div>

    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-2"></a>
  </div>

  <div class="carousel-item item-2">
   <div class="in">
           <h2 style="font-weight: bold;color: white;">We are online</h2>
    <p style="font-weight: bold;color: white">We have over 1 million electronic resources including research papers and e-books, just make a request and enquire within a week</p>
      </div>
    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>

  <div class="carousel-item item-3">
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>
</div>




        <div class="txtcont">
            <div>
                <h2 class="para_head"> Our Mission & Vision</h2>
                <p class="para">
                    Embodying the role to strengthen and enhance the teaching, research and service of various Educational platforms. It promotes intellectual growth and creativity by developing collections, facilitating access to information resources, teaching the effective use of information resources and critical evaluation skills and offering research assistance.
                </p>
                <h2 class="para_head">Donate to the Library </h2>
                <p style="font-size: x-large";> Your contributions underwrite many of the library's valuable resources, services and programs. Without your support we wouldn't be able to keep our doors open.<br>
                    for further details contact any of our managers.
                </p>

            </div>
        </div>

    <h2 class="para_head"> New Arrivals </h2>

    <div class="card">

<div class="image">
   <img style="width: 370px; height: 500px;" src="{% static 'libmanager/images/book2.jpg' %}">
</div>
<div class="title">
 <h2> The Martian </h2>
</div>
<div class="des">
 <p style="color: grey; font-size: 20px; font-weight: bolder"><em>by Andy Weir </em> </p>
</div>
</div>

      <div class="card">

<div class="image">
   <img style="width: 370px; height: 500px;" src="{% static 'libmanager/images/book1.jpg' %}">
</div>
<div class="title">
 <h2> IT </h2>
</div>
<div class="des">
 <p style="color: grey; font-size: 20px; margin-left: 2px;font-weight: bolder"><em>by Stephen King</em> </p>
</div>
</div>

      <div class="card">

<div class="image">
   <img style="width: 370px; height: 500px;" src="{% static 'libmanager/images/book3.jpg' %}">
</div>
<div class="title">
 <h2> City of Bones </h2>
</div>
<div class="des">
 <p style="color: grey; font-size: 20px; margin-left: 2px;font-weight: bolder"><em>by Cassandra Clare</em> </p>
</div>
</div>

      <div class="card">

<div class="image">
   <img style="width: 370px; height: 500px;" src="{% static 'libmanager/images/book4.jpg' %}">
</div>
<div class="title">
 <h2> Shatter Me </h2>
</div>
<div class="des">
 <p style="color: grey; font-size: 20px; margin-left: 2px;font-weight: bolder"><em>by Tahereh Mafi</em> </p>
</div>
</div>





<!-- BELOW TO BE USED IN EACH PAGE-->

        <div class="footer">
            <ul class="ul">
                <li class="disp_below"><a href="/about"> About Us</a></li>
            <li class="disp_below"><a href="/contact"> Contact Us</a></li>
                </ul>
            <div>
                 <h3 id="para2"> (c) RedStone library | Learn, Discover, Create, Connect. </h3>
                    <p id="para2"> All rights reserved </p>
            </div>


        </div>




    </div>


    </body>

</html>