
<html lang="en">

    <head>
        {% load static %}
     <!-- ICON-->
        <link rel="shortcut icon" type="image/png" href="{% static 'libmanager/images/logo.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'libmanager/loginpage.css' %}">

        <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <!-- below one for all para textx --font-family: 'Smythe', cursive;-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- this one for addbook attributes -- font-family: 'Kameron', serif;-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Smythe&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">

<!DOCTYPE html>
        <!-- ICON-->
        <link rel="shortcut icon" type="image/png" href="{% static 'libmanager/images/logo.ico' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page | LibManager </title>
    </head>

    <body>
        <div id="hold">
            <div>
             <h1><span class="heading">Login </span> (Note : Authorized personnel only,if you are facing problem , contact your branch head)  </h1>
        </div>
        <div class="bg">
            <form method="POST" action="/login" class="container">
                {% csrf_token %}
                <div class="new">
                    Name: &ensp; &ensp;&ensp; <input type="text" name="user_name" id="">
                </div>

                <div class="new">
                    Password : <input type="password" name="user_pass" id="">
                </div>
                <div class="dep">
                    <input type="submit" value="Login" class="btn">
                    <input type="reset" value="Reset" class="btn">
                </div>
            </form>
        </div>
        </div>
    </body>

</html>